header {
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
}

header h1 {
    color: white;   
}

.dropdown-button {
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.dropdown {

}

.dropdown-container {

    position: fixed;;
    top: 80px;
    right: 0px;

    display: none;
    flex-direction: column;
    background-color: rgb(29, 29, 29);;
}

.dropdown-container a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 18px;
}

.dropdown-container a:hover {
    text-decoration: underline;
    font-size: 22px;
}

main {
    margin-top: 100px;
}
h1 { margin-left: 40%;
    font-size: 40px;}

.chat {
    color: whitesmoke;
    width: 300px;
    justify-content: center;
    margin-left: 40%;
    background-color: darkgrey;
    
}

